<html>
 <head>
  <title>洗濯機利用状況</title>
  <link rel="stylesheet" href="float.css">
 </head>
 <body>
  
  <div id="wrapper">
   <header>
     <div class="user">ユーザID:<%= current_user.user_id %>
      <input type="button" onclick="location.href='/'" value="ログアウト" >
      <!--<%= button_to "ログアウト", sessions_path  %>-->
     </div>
     <div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
     <p class="title">ランドリー状況確認システム</p>
   </header>
     <div class="pagetitle">
       <h1 class="textcenter"> 洗濯機利用状況 </h1>
     </div>
<div class="center">
<div class="clearfix box_wrap">
    <div class="box_left">
        1
    </div>
    <div class="box_left">
        2
    </div>
    <div class="box_left">
        3
    </div>
    <div class="box_left">
        4
    </div>

</div><br>
<div class="clearfix box_wrap">
    <div class="box_left">
        5
    </div>
    <div class="box_left">
        6
    </div>
    <div class="box_left">
        7 
    </div>
    <div class="box_left">
        8
    </div>

</div><br>
<div class="clearfix box_wrap">
    <div class="box_left">
        9
    </div>
</div>
</div>

<%= @wash1.situation %>

</body>
</html>

