<html>
 <head>
  <title>洗濯機利用状況</title>
 </head>
 <body>
  <h1>洗濯機利用状況</h1>

  <form>
  <h4>南側洗濯機</h4><br>
  <button class="button2" type ="submit">1</button>
  <button class="button2" type ="submit">2</button>
  <button class="button2" type ="submit">3</button><br>
  <button class="button2" type ="submit">4</button>
  <button class="button2" type ="submit">5</button>
  <button class="button2" type ="submit">6</button>
  </form>
 </body>
</html>

