<html>
 <head>
  <title>乾燥機利用状況</title>
 </head>
 <body>
  <div id="wrapper">
   <header>
     <div class="user">ユーザID:<%= current_user.user_id %>
      <input type="button" onclick="location.href='/'" value="ログアウト" >
      <!--<%= button_to "ログアウト", sessions_path  %>-->
     </div>
     <div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
     <p class="title">ランドリー状況確認システム</p>
   </header>
     <div class="pagetitle">
       <h1 class="textcenter"> 乾燥機利用状況 </h1>
     </div>

<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; ">
  <form>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button><br>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button><br>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button>
  <button class="button1" type ="submit"> </button>

  </form>
</div>
 </body>
</html>
