button.button2{
  /*文字サイズを1.4*/
  font-size: 1.4em;

  /*文字の太さをbold*/
  font-weight: bold;

  /*背景色を青色に変更*/
  background-color: #248;

  /*余白の設定 縦px 横px*/
  padding: 30px 30px;

  /*ボタンの間隔*/
  margin: 30px;

  /*文字の色を白に変更*/
  color: #fff;

  /*ボーダーをなくす*/
  border-style: none;
}

