button.button1{
  /*背景色を赤色に変更*/
  background-color: #FF0000;

  /*余白の設定 縦px 横px*/
  padding: 30px 30px;

  /*ボタンの間隔*/
  margin: 10px 30px;

  /*ボーダーをなくす*/
  border-style: none;
}
.0{
background: red;
}

.1{
background: blue;
}

